*{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 50px;
    display: inline-block;
    vertical-align: middle;
}

h2{
    text-align: center;
    font-size: 22px;
}

.h2{
    color: black;
    text-decoration: none;
    font-style: italic;
}

.h2:hover{
    text-decoration: underline;
}

.logo{
    display: inline-block;
    vertical-align: middle;
    width: 90px;
    height: 90px;
    border-radius: 100%;

}

.list{
    display: flex;
    background: #333;
    line-height: 70px;
    list-style: none;
}

li{
    margin-right: 20px;
    margin-left: 80px;
    font-weight: 100;
    font-family: Barlow, sans-serif;

}


.navigation{
    color: lightgrey;
    text-decoration: none;
}

li:hover{
    font-size: 20px;
}

.left{
    display: inline-block;
    width: 280px;
    margin-left: 100px;
    margin-top: 30px;

}

.star{
    text-align: center;
    font-family: Playfair Display,serif;
}

.center{
    display: inline-block;
    width: 277px;
    margin-left: 150px;
    margin-top: 30px;
}

.photo{
    display: inline-block;
    vertical-align: middle;
}

.dress{
    display: inline-block;
    text-align: center;
    font-family: Playfair Display,serif;
}

.thg{
    display: flex;
}

.right{
    display: inline-block;
    width: 276px;
    margin-left: 150px;
    margin-top: 30px;
}


.print{
    text-align: center;
    font-size: 16px;
    font-family: Playfair Display,serif;
}


.footer{
    background: #333;
    line-height: 70px;
    text-align: center;
}

.alarm{
    color: lightgrey;
}